.input{
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.box{
  border: 1px solid green;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
}
.box-grp{
  display: flex;
  flex-direction: row;
}
.all-size{
  width: 1400px;

  display: flex;
  justify-content: center;
  flex-direction: column;
}